@if (ingredients().length === 0) {
  <p class="empty-hint">{{ 'recipeEditor.noIngredientsHint' | transloco }}</p>
} @else {
  @for (line of recipeLines(); track $index) {
    <div class="recipe-line">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'recipeEditor.recipeIngredient' | transloco }}</mat-label>
        <mat-select [value]="line.ingredientId" (selectionChange)="onRecipeIngredientChange($index, $event.value)">
          @for (ingredient of ingredients(); track ingredient.id) {
            <mat-option [value]="ingredient.id">{{ ingredient.name }} ({{ ingredient.unit }})</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'recipeEditor.recipeQuantity' | transloco }}</mat-label>
        <input matInput type="number" [value]="line.quantityRequired" #qty (change)="onRecipeQuantityChange($index, qty.valueAsNumber)" />
        <span matTextSuffix>{{ line.unit }}</span>
      </mat-form-field>

      <button type="button" mat-icon-button [matTooltip]="'recipeEditor.removeLine' | transloco" (click)="removeRecipeLine($index)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  } @empty {
    <p class="empty-hint">{{ 'recipeEditor.emptyRecipeHint' | transloco }}</p>
  }

  <div class="toolbar-row">
    <button type="button" mat-stroked-button (click)="addRecipeLine()">
      <mat-icon>add</mat-icon>
      {{ 'recipeEditor.addLine' | transloco }}
    </button>
    @if (!hideSaveButton()) {
      <button type="button" mat-flat-button color="primary" (click)="saveRecipe()">
        {{ 'recipeEditor.saveRecipe' | transloco }}
      </button>
    }
  </div>
}
